:root{
    
    --gamebg-color: rgba(209, 209, 149, 0.333);
    --text-color:black;
    --button-text-color:white;
    --gbborder-color: rgb(66, 71, 41);
    --button-color:rgb(66, 71, 41) ;
    --button-hover-color:  rgb(217,222,140);
    
}


#main-content{
    background-color: var(--gamebg-color);
}

#gameBoard{
    border:8px solid var(--gbborder-color) ;
}

button{
    background-color: var(--button-color);
    color: var(--button-text-color);
}
button:hover{  
    background-color: var(--button-hover-color);
    color: var(--text-color);
    }