:root{
    
    --gamebg-color: rgba(251, 236, 117, 0.5);
    --text-color: white;
    --button-text-color:black;
    --gbborder-color:black;
    --button-color: rgb(243, 209, 40) ;
    --button-hover-color:  black ;
    
}


#main-content{
    background-color: var(--gamebg-color);
}

#gameBoard{
    border:8px solid var(--gbborder-color) ;
}

button{
    background-color: var(--button-color);
    color: var(--button-text-color);
}
button:hover{  
    background-color: var(--button-hover-color);
    color: var(--text-color);
    }