:root{
    
    --gamebg-color: rgba(17, 61, 156, 0.5);
    --text-color: white;
    --button-text-color: black;
    --gbborder-color: rgb(7, 7, 143);
    --button-color: rgb(178, 213, 243) ;
    --button-hover-color:  rgb(7, 7, 143);
    
}


#main-content{
    background-color: var(--gamebg-color);
}

#gameBoard{
    border:8px solid var(--gbborder-color) ;
}

button{
    background-color: var(--button-color);
    color: var(--button-text-color);
}
button:hover{  
    background-color: var(--button-hover-color);
    color: var(--text-color);
    }