:root{
    
    --gamebg-color: rgba(201, 104, 39, 0.5);
    --text-color: black;
    --button-text-color:white;
    --gbborder-color:rgb(201, 104, 39);
    --button-color: rgb(243, 209, 40) ;
    --button-hover-color:  rgb(228, 89, 19) ;
    
}


#main-content{
    background-color: var(--gamebg-color);
}

#gameBoard{
    border:8px solid var(--gbborder-color) ;
}

button{
    background-color: var(--button-color);
    color: var(--button-text-color);
}
button:hover{  
    background-color: var(--button-hover-color);
    color: var(--text-color);
    }