:root{
    
    --gamebg-color: rgba(105,174,189,0.5);
    --text-color: white;
    --button-text-color: white;
    --gradient:conic-gradient(rgb(140,232,252), rgb(60, 28, 39), rgb(140,232,252)) 1; 
	 --gradient2: linear-gradient(to right,rgb(140,232,252), rgb(60, 28, 39));
    --button-color: rgb(60, 28, 39) ;
    --button-hover-color:  rgb(60, 28, 39);
    
}


#main-content{
    background-color: var(--gamebg-color);
}

#gameBoard{
   border-style: solid;
    border-width: 8px;
    border-image: var(--gradient);
}

button{
    background-color: var(--button-color);
    color: var(--button-text-color);
}
button:hover{  
	background-image: var(--gradient2);
    background-color: var(--button-hover-color);
    color: var(--text-color);
    }