:root{
    
    --gamebg-color: rgba(228, 174, 198, 0.493);
    --text-color: white;
    --button-text-color: black;
    --gbborder-color: rgb(66, 17, 71);
    --button-color: rgb(223, 205, 226) ;
    --button-hover-color:  rgb(66, 17, 71);
    
}


#main-content{
    background-color: var(--gamebg-color);
}

#gameBoard{
    border:8px solid var(--gbborder-color) ;
}

button{
    background-color: var(--button-color);
    color: var(--button-text-color);
}
button:hover{  
    background-color: var(--button-hover-color);
    color: var(--text-color);
    }