:root{
    
    --gamebg-color: rgba(190, 51, 63, 0.493);
    --text-color: white;
    --button-text-color: white;
    
    --button-color: black;
    --button-hover-color:  white;
    --gradient:conic-gradient( rgb(190, 51, 63) ,rgb(72, 19, 23),black , rgb(72, 19, 23), rgb(190, 51, 63)) 1; 
    --gradient2: linear-gradient(to right,black,rgb(72, 19, 23), rgb(190, 51, 63),black);
}


#main-content{
    background-color: var(--gamebg-color);
}

#gameBoard{
    border-style: solid;
    border-width: 8px;
    border-image: var(--gradient);
}

button{
    background-color: var(--button-color);
    color: var(--button-text-color);
    background-image: var(--gradient2);
}
button:hover{ 
   background-image: linear-gradient(to right,black,black); 
    background-color: var(--button-hover-color);
    color: var(--text-color);
    }