:root{
    
    --gamebg-color: rgba(146, 72, 215, 0.5);
    --text-color:white;
    --button-text-color: white;
    --gbborder-color: rgb(35, 35, 43);
    --button-color: rgb(35, 35, 43) ;
    --button-hover-color: silver;
    --gradient:conic-gradient( rgb(146, 72, 215), silver, black, rgb(146, 72, 215)) 1; 
    --gradient2: linear-gradient(to right,black, rgb(146, 72, 215),silver, rgb(146, 72, 215), black);
}


#main-content{
    background-color: var(--gamebg-color);
}

#gameBoard{
    border-style: solid;
    border-width: 8px;
    border-image: var(--gradient);
}

button{
    background-color: var(--button-color);
    color: var(--button-text-color);
}
button:hover{  
    background-image: var(--gradient2);
    background-color: var(--button-hover-color);
    color: var(--text-color);
    }