:root{
    
    --gamebg-color: rgba(17, 61, 156, 0.5);
    --text-color: white;
    --button-text-color: white;
    --gbborder-color: rgb(3, 7, 200);
    --button-color: rgb(3, 7, 200) ;
    --button-hover-color:  rgb(3, 7, 200);
    --gradient:conic-gradient( rgb(3, 7, 200), rgb(177,99,99),  rgb(3, 7, 200)) 1; 
    --gradient2: linear-gradient(to right, rgb(3, 7, 200), rgb(177,99,99));
}


#main-content{
    background-color: var(--gamebg-color);
}

#gameBoard{
    border-style: solid;
    border-width: 8px;
    border-image: var(--gradient);
}

button{
    background-color: var(--button-color);
    color: var(--button-text-color);
}
button:hover{  
    background-image: var(--gradient2);
    background-color: var(--button-hover-color);
    color: var(--text-color);
    }